<div class="card mt-5" style="margin-top: -100px;">
  <div class="card-body text-center">
    <form id="newPostForm" action="/api/blogposts" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" name="content" class="form-control" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Create Post</button>
      <a href="/dashboard" class="btn text-teal btn-primary mt-3">Back to Dashboard</a>
    </form>
  </div>
</div>
<script src="/js/newpost.js"></script>