<div class="dashboard d-flex justify-content-center">
    <h2>Your Blog Posts</h2>
    {{#each userBlogPosts as |post|}}
        {{> blogpost.card this=post}}
    {{/each}}
    <a href="/dashboard/new" class="custom-text-color mt-5">+New Post</a>
</div>
