<!-- dashboard.handlebars -->
<div class="dashboard d-flex justify-content-center">
    <h2>Your Blog Posts</h2>
    {{#each userBlogPosts as |post|}}
        {{> post-card}}
    {{/each}}
    <a href="/dashboard/new" class="text-teal mt-5">Create New Post</a>
</div>
