<div class="d-flex align-items-center justify-content-center" style="height: 100vh; margin-top: -100px;">
  <div class="new-post">
    <h2 class="text-center">Create a New Post</h2>
    {{> new-post.card}}
  </div>
</div>