    <section class="center-container">
    <h1>Sign Up</h1>
    <form class="form signup-form" id="signup-form">
      <label for="username-signup">Email:</label>
      <input class="rounded-2" type="text" id="username-signup" name="username" placeholder="Enter your email"><br>
      <label for="password-signup">Password:</label>
      <input class="rounded-2" type="password" id="password-signup" name="password" placeholder="Enter your password"><br>
      <div class="center-button">
      <button class="rounded-1 btn-primary" type="submit" id="signup-btn">Sign Up</button>
      </div>
    </form>
    </section>
    <script src="/js/signup.js"></script>