.main-nav {
    height: 3em;
}

.custom-brn {
    background-color: #3F231C;
    font-size: 18px;
    height: 15%;
  }

.custom-text-color {
  color: #3F231C;
}

#custom-card-border {
    border-color: #3F231C;
  }
  

.custom-teal {
    background-color: #F0FFDA ;
    color: #3F231C;
}

.text-teal {
    color: #F0FFDA ;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; 
  }

  .center-button {
    display: flex;
    justify-content: center;
  }
  